/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-month.css
 * desc:    月份组件
 * author:  zhaolei,erik
 * date:    $Date$
 */

.ui-month {
    border:1px solid #ccced4;
    font-size:13px;
}

.ui-month-title {
    width:31px;
    height:21px;
    line-height:21px;
    background:#f1f1f1;
    color:#666;
    text-align:center;
}

.ui-month-item{
    width:30px;
    height:21px;
    line-height:21px;
    cursor:pointer;
    color:#03c;
    text-align:center;
    border-bottom:1px solid #f1f1f1;
}

.ui-month-over {
    background:#e4eaf9;
}

.ui-month-selected {
    background:#fff6bd;
    color:#333;
    font-weight:bold;
}

.ui-month-item-virtual,
.ui-month-item-out {
    color:#888;
    cursor:default;
    background:#fff;
}