/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-mask.css
 * desc:    遮挡层控件样式
 * author:  erik, linzhifeng
 * date:    $Date$
 */

.ui-mask {
    position:absolute;
    top:0;
    left:0;
    background:#333;
    opacity: .2;
    filter:alpha(opacity=20);
}

.ui-mask-white {
    background:#fff;
}

.ui-mask-level-0 {
    z-index:100;
}
