/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-schedule.css
 * desc:    日程控件样式
 * author:  erik
 * date:    $Date$
 */

.ui-schedule {
    font-size:12px;
    width:620px;
}

.ui-schedule-head {
    height:28px;
    margin-bottom:10px;
}

.ui-schedule-help {
    float:right;
    width:200px;
}
.ui-schedule-help-text {
    line-height:16px;
    padding:2px 8px 0 3px;
}

.ui-schedule-help div{float:left;cursor:default;}

.ui-schedule-shortcut {
    float:left;
    padding:2px 0 0 10px;;
    line-height:16px;
}
.ui-schedule-shortcut-item {
    cursor:pointer;
    text-decoration:underline;
    color:#37a;
}
.ui-schedule-day {
    float:left;
    line-height:18px;
    padding-left:2px;
    width:90px;
}

.ui-schedule-seg {
    float:left;
    width:130px;
}

.ui-schedule-time,
.ui-schedule-timehead,
.ui-schedule-help-selected,
.ui-schedule-help-unselected {
    background:#E6E6E6;
    border:1px solid #E6E6E6;
    color:#E6E6E6;
    cursor:pointer;
    float:left;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-right:2px;
    text-align:center;
    width:16px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-schedule-timehead {
    background:url(img/esui.png) -40px -200px;
    border:0;
    width:18px;
}
.ui-schedule-timehead-active {background:url(img/esui.png) -58px -200px;}

.ui-schedule-line {
    height:18px;
    padding:2px 0px;
}

.ui-schedule-time-hover {
    background:#fff;
    border:1px solid #A2D688;
    color:#390;
}

.ui-schedule-time-selected,
.ui-schedule-help-selected {
    background:#390;
    border:1px solid #390;
    color:#fff;
}

.ui-schedule-disabled .ui-schedule-time {
    color:#888;
    background:#E6E6E6;
    border:1px solid #E6E6E6;
    cursor:default;
}

.ui-schedule-disabled .ui-schedule-time-selected {
    background:#390;
    border:1px solid #390;
    color:#fff;
}