/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-textline.css
 * desc:    带行号的文本输入框控件样式
 * author:  zhouyu, erik
 * date:    $Date$
 */

.ui-textline {
    position:relative;
    border:1px solid #A8ADB6;
    background:#fff;
}
.ui-textline-line {
    background:#cacaca;
    color:#fff;
    font-weight:bold;
    line-height:21px;
    text-align:center;
    font-size:12px;
    overflow-y:scroll;
}

.ui-textline .ui-textarea {
    top:0;
    position:absolute;
    line-height:21px;
    font-size:14px;
    background:#fff;
    border:0;
    padding:0;
}