/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-cal.css
 * desc:    日期选择组件
 * author:  erik
 * date:    $Date$
 */

.ui-cal {
    border:1px solid #dde0e9;
    height:20px;
    width:180px;
    line-height:20px;
    font-size:12px;
    cursor:pointer;
    background:#fff;
    background-image:-webkit-gradient(linear, 0 0, 0 1, from(#ececec), to(#fff));
    background-image:-moz-linear-gradient(top, #ececec, #fff 1px, #fff);
}

.ui-cal-text {
    padding-left:3px;
    width:147px;
    float:left;
}

.ui-cal-hover,
.ui-cal-active {
    border-color:#a9adb6;
}

.ui-cal-arrow {
    float:right;
    height:20px;
    width:29px;
    background:url(img/esui.png) -73px -123px;
}
.ui-cal-active .ui-cal-arrow {
    background:url(img/esui.png) -73px -103px;
}

.ui-cal-layer {
    background:#fff;
    width:219px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ui-cal-layer-head {
    background: none repeat scroll 0 0 #CCCED4;
    height: 28px;
}
.ui-cal-layer-head table {width:210px;}
