/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-pager.css
 * desc:    按钮样式
 * author:  erik, zhaolei, yanjunyi
 * date:    2011/01/19
 */

/**
 * 基础按钮样式
 */
.ui-pager {
	overflow:auto;
    float:left;
    display:inline;
}
.ui-pager ul {
	float:left;
	display:inline;
	overflow:hidden;
	margin:0;
	padding:0;
	border:1px solid #ccc;
    height:auto;
}

.ui-pager li {
	float:left;
    display:inline-block;
    *display:inline;
	list-style:none;
	overflow:hidden;
	padding:0 5px;
	color:#0033CC;
    font:normal 12px/16px Arial, Helvetica, sans-serif;
    text-align:center;
	cursor:pointer;
    height:auto;
}

.ui-pager .ui-pager-item {
    line-height:20px;
}

.ui-pager-disabled {
	color:#999;
}
.ui-pager .ui-pager-omit,
.ui-pager .ui-pager-disabled,
.ui-pager .ui-pager-selected {
	color:#999;
	cursor:default;
}
.ui-pager .ui-pager-selected {
	color:#666;
	font:bold 14px/19px Arial, Helvetica, sans-serif;
}

.ui-pager-icon {
	width:0;
	height:0;
	overflow:hidden;
	*margin-top:3px;
	border:5px solid #fff;
}
.ui-pager-prev, .ui-pager-next {
    width:46px;
}
.ui-pager-prev span, .ui-pager-next span {line-height:20px;}
.ui-pager-prev .ui-pager-icon {
    float:left;
	margin:4px 5px 0 0;
	border-right:5px solid #666;
	border-left:none;
}
.ui-pager-next .ui-pager-icon {
    float:right;
	margin:4px 0 0 5px;
	border-left:5px solid #666;
	border-right:none;
}
.ui-pager-prev .ui-pager-pntext {float:right;width:36px;line-height:20px;}
.ui-pager-next .ui-pager-pntext {float:left;width:36px;line-height:20px;}
.ui-pager-next.ui-pager-disabled .ui-pager-icon {
	border-left-color:#bbb;
}
.ui-pager-prev.ui-pager-disabled .ui-pager-icon {
	border-right-color:#bbb;
}


/**
 * 基础按钮样式状态
 */
.ui-pager .ui-pager-hover,
.ui-pager .ui-pager-press, 
.ui-pager .ui-pager-active {
	background:#E4E9F9;
}

.ui-pager-hover .ui-pager-icon,
.ui-pager-press .ui-pager-icon, 
.ui-pager-active .ui-pager-icon {
	border-top-color:#E4E9F9;
    border-bottom-color:#E4E9F9;
}