/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-region.css
 * desc:    地域选择控件样式
 * author:  erik
 * date:    $Date$
 */

.ui-region {
    font-size:12px;
}

.ui-region input {margin:0 3px 0 0;}
.ui-region dt,
.ui-region dd,
.ui-region dl {
    border:0;
    padding:0;
    margin:0;
}
.ui-region .ui-region-option-body {
    height:32px;
    line-height:32px;
    padding-left:3px;
}
.ui-region-option-level0 {clear:both;}
.ui-region-option-level0 .ui-region-option-body {
    background:#D3E5FB;
}

.ui-region-option-level1 {clear:both;}
.ui-region-option-level1 .ui-region-option-body {
    background:#fff;
    width:70px;
    padding-right:20px;
    float:left;
    color:#666;
}

.ui-region-option-level1 .ui-region-option-children {
    padding-left:88px;
}

.ui-region-option-Abroad .ui-region-option-level1 .ui-region-option-body,
.ui-region-option-level2 .ui-region-option-body {
    width:auto;
    padding-right:5px;
    float:none;
    color:#000;
}

.ui-region-option-Abroad .ui-region-option-level1,
.ui-region-option-level2 {
    display:inline-block;
    *display:inline
    *zoom:1;
}


