/*
 * ESUI (Enterprise Simple UI)
 * Copyright 2010 Baidu Inc. All rights reserved.
 * 
 * path:    ui-textinput.css
 * desc:    单行、多行文本框样式
 * author:  erik,zhaolei
 * date:    2011/01/18
 */
.ui-textarea,
.ui-text {
    color:#333;
    padding:2px 4px;
    font-size:14px;
    background:#FFF;
    border:1px solid #a8adb6;
    height:22px;
    *height:16px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-image:-webkit-gradient(linear, 0 0, 0 2, from(#ececec), to(#fff));
    background-image:-moz-linear-gradient(top, #ececec, #fff 2px, #fff);
}

.ui-textarea {height:200px;overflow:auto;resize:none;}

.ui-text:focus,
.ui-textarea:focus {
    outline:0;
}


.ui-textarea-hover,
.ui-text-hover {
    border:1px solid #6e8ab8;
}
.ui-text-active {border:1px solid red;}
.ui-textarea-press,
.ui-text-press {
    border:1px solid #6e8ab8;
}

.ui-textarea-disabled,
.ui-text-disabled,
.ui-text-readonly {
    border:1px solid #7E9DB9;
    background:#f6f6f6;
    color:#999;
}

.ui-text-virtual,
.ui-textarea-virtual {
    color:#999;
}
